In [35]:
# import Dependencies
import pandas as pd
import csv
import os
import json
import requests
import matplotlib.pyplot as plt
from scipy import stats
from Adrian_config import eia_key
from pprint import pprint

In [40]:
energy_data_raw=pd.read_csv("owid-energy-data.csv")
energy_data_raw

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21807,Zimbabwe,2019,ZWE,15354606.0,2.514642e+10,NaN,NaN,NaN,NaN,12.374,...,0.353,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21808,Zimbabwe,2020,ZWE,15669663.0,2.317871e+10,NaN,NaN,NaN,NaN,6.382,...,0.298,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21809,Zimbabwe,2021,ZWE,15993525.0,2.514009e+10,NaN,NaN,NaN,NaN,0.000,...,0.236,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21810,Zimbabwe,2022,ZWE,16320539.0,2.590159e+10,NaN,NaN,NaN,NaN,6.127,...,0.336,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
21811,Zimbabwe,2023,ZWE,16665407.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:

pprint(energy_data_raw.dtypes)

country                    object
year                        int64
iso_code                   object
population                float64
gdp                       float64
                           ...
wind_elec_per_capita      float64
wind_electricity          float64
wind_energy_per_capita    float64
wind_share_elec           float64
wind_share_energy         float64
Length: 129, dtype: object

In [48]:


Country_energydf=pd.DataFrame({"Country":energy_data_raw["country"],"Population":energy_data_raw["population"], "biofuel_cons_changepct":energy_data_raw["biofuel_cons_change_pct"],})
Country_energydf

             Country  Population  biofuel_cons_changepct
0      ASEAN (Ember)         NaN                     NaN
1      ASEAN (Ember)         NaN                     NaN
2      ASEAN (Ember)         NaN                     NaN
3      ASEAN (Ember)         NaN                     NaN
4      ASEAN (Ember)         NaN                     NaN
...              ...         ...                     ...
21807       Zimbabwe  15354606.0                     NaN
21808       Zimbabwe  15669663.0                     NaN
21809       Zimbabwe  15993525.0                     NaN
21810       Zimbabwe  16320539.0                     NaN
21811       Zimbabwe  16665407.0                     NaN

[21812 rows x 3 columns]

In [67]:
north_american_countries = [
    "United States", "Canada", "Mexico", "Guatemala", "Belize", "Honduras",
    "El Salvador", "Nicaragua", "Costa Rica", "Panama", "Bahamas", "Cuba",
    "Jamaica", "Haiti", "Dominican Republic"]


south_american_countries = [
    "Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Ecuador",
    "Guyana", "Paraguay", "Peru", "Suriname", "Uruguay", "Venezuela"]

In [73]:
North_American_Countries_df = energy_data_raw.loc[
    energy_data_raw["country"].isin(north_american_countries),
    ["country","year","population","greenhouse_gas_emissions","biofuel_cons_change_pct","biofuel_consumption","electricity_demand","electricity_generation","fossil_fuel_consumption"]
]
North_American_Countries_df

,country,year,population,greenhouse_gas_emissions,biofuel_cons_change_pct,biofuel_consumption,electricity_demand,electricity_generation,fossil_fuel_consumption
1904,Bahamas,1980,223761.0,NaN,NaN,NaN,NaN,NaN,NaN
1905,Bahamas,1981,227971.0,NaN,NaN,NaN,NaN,NaN,NaN
1906,Bahamas,1982,232184.0,NaN,NaN,NaN,NaN,NaN,NaN
1907,Bahamas,1983,236595.0,NaN,NaN,NaN,NaN,NaN,NaN
1908,Bahamas,1984,241176.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
20488,United States,2019,334319680.0,1718.34,2.780,415.870,4197.42,4158.38,21948.141
20489,United States,2020,335942016.0,1565.52,-9.029,378.321,4090.49,4043.18,19936.998
20490,United States,2021,336997632.0,1655.35,9.917,415.839,4192.93,4153.62,21170.129
20491,United States,2022,338289856.0,1654.66,5.231,437.593,4328.12,4286.91,21479.430
20492,United States,2023,339996576.0,1569.91,13.215,495.419,4266.69,4249.05,21102.203

In [75]:
south_american_countries_df = energy_data_raw.loc[
    energy_data_raw["country"].isin(south_american_countries),
    ["country","year","population","greenhouse_gas_emissions","biofuel_cons_change_pct","biofuel_consumption","electricity_demand","electricity_generation",'fossil_fuel_consumption']
]
south_american_countries_df.head(100)

,country,year,population,greenhouse_gas_emissions,biofuel_cons_change_pct,biofuel_consumption,electricity_demand,electricity_generation,fossil_fuel_consumption
1012,Argentina,1900,4685089.0,NaN,NaN,NaN,NaN,NaN,NaN
1013,Argentina,1901,4855502.0,NaN,NaN,NaN,NaN,NaN,NaN
1014,Argentina,1902,5036658.0,NaN,NaN,NaN,NaN,NaN,NaN
1015,Argentina,1903,5229108.0,NaN,NaN,NaN,NaN,NaN,NaN
1016,Argentina,1904,5428911.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1107,Argentina,1995,34946116.0,NaN,NaN,NaN,NaN,67.169,529.436
1108,Argentina,1996,35389360.0,NaN,NaN,NaN,NaN,69.760,568.775
1109,Argentina,1997,35815968.0,NaN,NaN,NaN,NaN,72.462,558.979
1110,Argentina,1998,36233196.0,NaN,NaN,NaN,NaN,74.170,588.233
1111,Argentina,1999,36653032.0,NaN,NaN,NaN,NaN,80.745,611.693

In [76]:
bahamas_df= North_American_Countries_df.loc[
    North_American_Countries_df["country"]=="Bahamas",
    ["country","year","population","greenhouse_gas_emissions","biofuel_cons_change_pct","biofuel_consumption","electricity_demand","electricity_generation",'fossil_fuel_consumption']
]
bahamas_df

,country,year,population,greenhouse_gas_emissions,biofuel_cons_change_pct,biofuel_consumption,electricity_demand,electricity_generation,fossil_fuel_consumption
1904,Bahamas,1980,223761.0,NaN,NaN,NaN,NaN,NaN,NaN
1905,Bahamas,1981,227971.0,NaN,NaN,NaN,NaN,NaN,NaN
1906,Bahamas,1982,232184.0,NaN,NaN,NaN,NaN,NaN,NaN
1907,Bahamas,1983,236595.0,NaN,NaN,NaN,NaN,NaN,NaN
1908,Bahamas,1984,241176.0,NaN,NaN,NaN,NaN,NaN,NaN
1909,Bahamas,1985,245945.0,NaN,NaN,NaN,NaN,NaN,NaN
1910,Bahamas,1986,250815.0,NaN,NaN,NaN,NaN,NaN,NaN
1911,Bahamas,1987,255626.0,NaN,NaN,NaN,NaN,NaN,NaN
1912,Bahamas,1988,260458.0,NaN,NaN,NaN,NaN,NaN,NaN
1913,Bahamas,1989,265505.0,NaN,NaN,NaN,NaN,NaN,NaN
1914,Bahamas,1990,270690.0,NaN,NaN,NaN,NaN,NaN,NaN
1915,Bahamas,1991,276072.0,NaN,NaN,NaN,NaN,NaN,NaN
1916,Bahamas,1992,281982.0,NaN,NaN,NaN,NaN,NaN,NaN
1917,Bahamas,1993,288172.0,NaN,NaN,NaN,NaN,NaN,NaN
1918,Bahamas,1994,294006.0,NaN,NaN,NaN,NaN,NaN,NaN
1919,Bahamas,1995,299567.0,NaN,NaN,NaN,NaN,NaN,NaN
1920,Bahamas,1996,304944.0,NaN,NaN,NaN,NaN,NaN,NaN
1921,Bahamas,1997,310183.0,NaN,NaN,NaN,NaN,NaN,NaN
1922,Bahamas,1998,315410.0,NaN,NaN,NaN,NaN,NaN,NaN
1923,Bahamas,1999,320282.0,NaN,NaN,NaN,NaN,NaN,NaN
1924,Bahamas,2000,325033.0,1.12,NaN,NaN,1.70,1.70,NaN
1925,Bahamas,2001,329639.0,1.16,NaN,NaN,1.77,1.77,NaN
1926,Bahamas,2002,334015.0,1.24,NaN,NaN,1.89,1.89,NaN
1927,Bahamas,2003,338505.0,1.32,NaN,NaN,2.00,2.00,NaN
1928,Bahamas,2004,343097.0,1.30,NaN,NaN,1.98,1.98,NaN
1929,Bahamas,2005,347815.0,1.38,NaN,NaN,2.09,2.09,NaN
1930,Bahamas,2006,352672.0,1.39,NaN,NaN,2.12,2.12,NaN
1931,Bahamas,2007,357678.0,1.48,NaN,NaN,2.25,2.25,NaN
1932,Bahamas,2008,362807.0,1.48,NaN,NaN,2.25,2.25,NaN
1933,Bahamas,2009,368064.0,1.41,NaN,NaN,2.14,2.14,NaN
1934,Bahamas,2010,373277.0,1.32,NaN,NaN,2.01,2.01,NaN
1935,Bahamas,2011,377956.0,1.35,NaN,NaN,2.05,2.05,NaN
1936,Bahamas,2012,382073.0,1.25,NaN,NaN,1.90,1.90,NaN
1937,Bahamas,2013,385660.0,1.24,NaN,NaN,1.88,1.88,NaN
1938,Bahamas,2014,389137.0,1.26,NaN,NaN,1.92,1.92,NaN
1939,Bahamas,2015,392707.0,1.32,NaN,NaN,2.00,2.00,NaN
1940,Bahamas,2016,395986.0,1.30,NaN,NaN,1.97,1.97,NaN
1941,Bahamas,2017,399027.0,1.31,NaN,NaN,1.99,1.99,NaN
1942,Bahamas,2018,401911.0,1.32,NaN,NaN,2.00,2.00,NaN
1943,Bahamas,2019,404563.0,1.32,NaN,NaN,2.01,2.01,NaN
1944,Bahamas,2020,406478.0,1.33,NaN,NaN,2.02,2.02,NaN
1945,Bahamas,2021,407920.0,1.34,NaN,NaN,2.03,2.03,NaN
1946,Bahamas,2022,409989.0,1.34,NaN,NaN,2.03,2.03,NaN

In [77]:
United_States_df=North_American_Countries_df.loc[North_American_Countries_df["country"]=='United States',["country","year","population","greenhouse_gas_emissions","biofuel_cons_change_pct","biofuel_consumption","electricity_demand","electricity_generation","fossil_fuel_consumption"]
]
United_States_df

,country,year,population,greenhouse_gas_emissions,biofuel_cons_change_pct,biofuel_consumption,electricity_demand,electricity_generation,fossil_fuel_consumption
20369,United States,1900,74829905.0,NaN,NaN,NaN,NaN,NaN,NaN
20370,United States,1901,76245912.0,NaN,NaN,NaN,NaN,NaN,NaN
20371,United States,1902,77698268.0,NaN,NaN,NaN,NaN,NaN,NaN
20372,United States,1903,79187838.0,NaN,NaN,NaN,NaN,NaN,NaN
20373,United States,1904,80705948.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
20488,United States,2019,334319680.0,1718.34,2.780,415.870,4197.42,4158.38,21948.141
20489,United States,2020,335942016.0,1565.52,-9.029,378.321,4090.49,4043.18,19936.998
20490,United States,2021,336997632.0,1655.35,9.917,415.839,4192.93,4153.62,21170.129
20491,United States,2022,338289856.0,1654.66,5.231,437.593,4328.12,4286.91,21479.430
20492,United States,2023,339996576.0,1569.91,13.215,495.419,4266.69,4249.05,21102.203