In [35]:
#make a random dictionary for example (really a paramaters cariable...? check terminology)
dict1 = {"name" : "Max",
         "age" : 29
        }

#create some f string to pass values of our dictionay into
string = f"Hello {dict1['name']}, you are {dict1['age']} years old."

#make some list of strings
list1 = ['this', 'is', 'my', 'list', 'of', 'words']

#use a for loop to interate through elements in list1, and for each element in list1, make the characters present uppercase
#then add that new (uppercase) value to the empty list named list_upper
list_upper = []
for x in list1:
    x = x.upper()
    list_upper.append(x)

#print the initial list (list1), the upercase list along with our initial fstring to check our work
print(list1)
print(list_upper)
print(string)

['this', 'is', 'my', 'list', 'of', 'words']
['THIS', 'IS', 'MY', 'LIST', 'OF', 'WORDS']
Hello Max, you are 29 years old.

In [36]:
dict1.keys

#add a new key called random list values into dict1, and assign the value of that key to be our lowercase list
dict1["random list values"] = list1

#print dict1 to see if our new key value pair has been stored
dict1
#YAY!

{'name': 'Max',
 'age': 29,
 'random list values': ['this', 'is', 'my', 'list', 'of', 'words']}

In [37]:
dict1.values()

dict_values(['Max', 29, ['this', 'is', 'my', 'list', 'of', 'words']])

In [38]:
#now let's go ahead and import some dependencies that we want to mess with 
import pandas as pd
import matplotlib as plt

In [42]:
#cast a new variable to store our dictionary as a data frame using the pandas lirary
dict1_df = pd.DataFrame(dict1)
dict1_df

#NICE

  name  age random list values
0  Max   29               this
1  Max   29                 is
2  Max   29                 my
3  Max   29               list
4  Max   29                 of
5  Max   29              words

In [50]:

x = dict1_df["age"].unique()
print(x)

AttributeError: module 'pandas' has no attribute 'groupby'